*blx.bib
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.synctex(busy)
*.toc

python/cons.csv
python/data.csv
python/elspot-prices_2016_hourly_dkk.xls
python/elspot-prices_2017_hourly_dkk.xls
python/elspot-prices_2018_hourly_dkk.xls
python/elspot.csv
python/sun.csv
python/temp.csv
python/wind-power-dk-prognosis_2016_hourly.xls
python/wind-power-dk-prognosis_2017_hourly.xls
python/wind-power-dk-prognosis_2018_hourly.xls
python/wind-power-se-prognosis_2016_hourly.xls
python/wind-power-se-prognosis_2017_hourly.xls
python/wind-power-se-prognosis_2018_hourly.xls
python/wind.csv

stata/data_stata.dta