latex/main-blx.bib
latex/main.aux
latex/main.bbl
latex/main.blg
latex/main.log
latex/main.out
latex/main.pdf
latex/main.run.xml
latex/main.synctex.gz

python/cons.csv
python/data.csv
python/elspot-prices_2016_hourly_dkk.xls
python/elspot-prices_2017_hourly_dkk.xls
python/elspot-prices_2018_hourly_dkk.xls
python/elspot-prices_2019_hourly_dkk.xls
python/elspot.csv
python/sun.csv
python/temp.csv
python/wind-power-dk-prognosis_2016_hourly.xls
python/wind-power-dk-prognosis_2017_hourly.xls
python/wind-power-dk-prognosis_2018_hourly.xls
python/wind-power-dk-prognosis_2019_hourly.xls
python/wind.csv

stata/data_stata.dta
